<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }} | {{ site_title }}</title>
  <link rel="stylesheet" href="../../style.css">
</head>

<body>
  <header>
    <a href="../../index.html">
      <h1 class="heading">{{ site_title }}</h1>
    </a>
  </header>
  <main>
    <h1>{{ page_title }}</h1>
    <h4>{{ post_date }}</h4>
    {{ content | safe }}
  </main>
</body>
</html>
