<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page_title }} | EtBH</title>
  <link rel="stylesheet" href="../../style.css">
</head>

<body>
  <header>
    <a href="../../index.html">
      <h1 class="heading">{{ site_title }}</h1>
    </a>
  </header>
</br>
  <main>
    <div class="justify-text">
      <h1 span class="page_title">{{ page_title }}</span>
      <h3 span class="right">{{ post_date }}</span>
    </div>
    <h2 class="left">{{ subtitle }}</h2>
    {{ content | safe }}
  </main>
</body>
</br>
</br>
<footer>
  <p>Blog on, brave soul.</p>
</footer>
</br>
</html>
