@font-face {
    font-family: "hyper_script";
    src: url("./fonts/HyperScrypt-Stencil_web.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "terminal";
    src: url("./fonts/terminal-grotesque-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jgs";
    src: url("./fonts/jgs_Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jgs";
    src: url("./fonts/") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jgs";
    src: url("./fonts/") format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegDurandus";
    src: url("./fonts/regular/RegDurandus.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegItalicTimes";
    src: url("./fonts/regular/RegItalicTimes.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegStandard";
    src: url("./fonts/regular/RegStandard.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegTimes";
    src: url("./fonts/regular/RegTimes.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "destra";
    src: url("./fonts/destra/destra.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "destraLight";
    src: url("./fonts/destra/GPDestra-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "paragonReg";
    src: url("./fonts/paragon/Paragon-Regular.otf format") ("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "paragonItalReg";
    src: url("./fonts/paragon/Paragonitalic-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "paragonBroken";
    src: url("./fonts/paragon/P-ACR-AGON-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nyghtReg";
    src: url("./fonts/nyght-serif/NyghtSerif-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nyghtMed";
    src: url("./fonts/nyght-serif/NyghtSerif-Medium.woff2") format("opentype");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: "sligoil";
    src: url("./fonts/sligoil/Sligoil-Micro.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "latitude";
    src: url("fonts/latitude/Equateur-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "equator";
    src: url("fonts/latitude/Latitude-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "sneaky";
    src: url("fonts/sneaky/Sneaky-Times.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "zodiak";
    src: url("fonts/zodiak/Zodiak-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ruda";
    src: url("./fonts/ruda/Ruda-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lusitana";
    src: url("./fonts/lusitana/Lusitana-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}



.heading {
    font-family: "destraLight";
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
}

.subheading {
    font-family: "sligoil";
    text-align: center;
    font-size: 1.2em;
}


h1 {
    font-family: "sligoil";
}

h4 {
    font-family: "sligoil";
}


body {
    font-family: "lusitana";
    width: 70%;
    margin: 0 auto;
}

header a {
    color: inherit; /* Inherit color from parent element */
    text-decoration: none; /* Remove underline */
}
header a:hover {
    text-decoration: none; /* Add underline on hover */
}



/* 
h1 {
    font-family: "jgs", sans-serif;
} */
