@font-face {
    font-family: "hyper_script";
    src: url("./fonts/HyperScrypt-Stencil_web.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "terminal";
    src: url("./fonts/terminal-grotesque-webfont.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "jgs";
    src: url("./fonts/jgs_Font.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "RegDurandus";
    src: url("./fonts/regular/RegDurandus.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegItalicTimes";
    src: url("./fonts/regular/RegItalicTimes.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegStandard";
    src: url("./fonts/regular/RegStandard.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "RegTimes";
    src: url("./fonts/regular/RegTimes.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "destra";
    src: url("./fonts/destra/destra.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "destraLight";
    src: url("./fonts/destra/GPDestra-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: "paragonReg";
    src: url("./fonts/paragon/Paragon-Regular.otf format") ("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "paragonItalReg";
    src: url("./fonts/paragon/Paragonitalic-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "paragonBroken";
    src: url("./fonts/paragon/P-ACR-AGON-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nyghtReg";
    src: url("./fonts/nyght-serif/NyghtSerif-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "nyghtMed";
    src: url("./fonts/nyght-serif/NyghtSerif-Medium.woff2") format("opentype");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: "sligoil";
    src: url("./fonts/sligoil/Sligoil-Micro.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "latitude";
    src: url("fonts/latitude/Equateur-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "equator";
    src: url("fonts/latitude/Latitude-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "sneaky";
    src: url("fonts/sneaky/Sneaky-Times.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "zodiak";
    src: url("fonts/zodiak/Zodiak-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ruda";
    src: url("./fonts/ruda/Ruda-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "lusitana";
    src: url("./fonts/lusitana/Lusitana-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "picnic";
    src: url("./fonts/picnic/PicNic-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "monhugo";
    src: url("./fonts/out/MonHugo-out.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "louise";
    src: url("./fonts/louise/Louise-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: "swirl";
    src: url("./fonts/swirl/Ouroboros-Regular.woff2") format("opentype");
    font-weight: normal;
    font-style: normal;
}











.heading {
    color: #ffffff;

    font-family: "destraLight";
    font-size: 2em;
    text-align: center;
    margin: 50px 0;
}


.subheading {
    color: #ffffff;
    font-family: "sligoil";
    text-align: center;
    font-size: 1.2em;
}

.date{
    color: #ffffff; 
}

.page_title{
    color: #e6e34c;
}


h1 {
    color: #ffffff;

    margin-bottom: 0;
    font-family: "sligoil";
}

h2 {
    color: #5bcd9a;
    font-family: "sligoil";
}

h3 {
    font-family: "sligoil";
}

body {
    background-color: #1f1f1f;
    color: #ffffff;
    font-family: "lusitana";
    width: 70%;
    margin: 0 auto;
}





body a {
    color: #e6e34c;
    text-decoration: none;
}

body a:hover {
    color: #d745ba;
    text-decoration: none;
}

header a h1:hover {
    margin-left: 0px;
    color: #d745ba;
    text-decoration: none;
}












.justify-text {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Optional: vertically align text */
}



.right {
    /* You can add any specific styles for the right-aligned text here */
    text-align: right;
    color: #ffffff;

}
/* 
h1 {
    font-family: "jgs", sans-serif;
} */





/* Style the list to have three columns */
ul.three-column-list {
    column-count: 3; /* Divide the list into 3 columns */
    column-gap: 20px; /* Optional: Add space between columns */
    list-style-position: inside; /* Optional: Align bullet points inside the columns */
    padding: 0;
    margin: 0;
}

/* Optional: Style the list items */
ul.three-column-list li {
    padding: 5px 0; /* Optional: Add spacing between list items */
}



footer p{
    color: #262626;
    text-align: center;
    font-family: "swirl";
    font-size: 2.3em;
}